.top-cover {
    background-color: white;
    z-index: 200;
}

.top-cover img {
    align: middle;
    width: 50%;
}

body {
    background-color: #2c3e50;
    color: #bdc3c7;
}

.custom {
    background-color: #bdc3c7;
    border-radius: 0px;
    min-height: 70px;
    font-family: 'Sriracha', cursive;
    box-shadow: 0 4px 2px -2px gray;
}

.navbar-nav>li {
    padding: 8px;
    min-height: 100%;
    color: black;
}

#navsearch {
    padding: 8px;
}

input {
    border-radius: 0px!important;
}

button {
    border-radius: 0px!important;
}

.mid {
    margin-top: 100px;
}

.space-1 {
    margin: 50px;
}

.space-2 {
    margin: 100px;
}

.space-3 {
    margin: 150px;
}

#myCarousel {
    height: 412px;
}

.title {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.newg-content img {
    width: 202px;
}

.newg-item {
    cursor: pointer;
    vertical-align: middle;
    padding: 15px;
    height: 158px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.newg-item .title {
    position: absolute;
    bottom: 20px;
    left: 15%;
    font-size: 15px;
    font-family: 'Slabo 27px', serif;
}

.newg-item .price {
    position: absolute;
    bottom: 1px;
    left: 15%;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
}


/* Button*/

.moree {
    text-align: center;
    display: table;
    width: 202px;
    height: 100px;
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(171, 218, 244, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(171, 218, 244, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(171, 218, 244, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#abdaf4', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.moree {
    cursor: pointer;
}

.moree span {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lobster';
    font-size: 30px;
}

.no-radius {
    border-radius: 0px;
}

.game-float-wrapper {
    position: relative;
}

.game-item {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    width: 720px;
    height: 69px;
    margin: 5px;
    min-width: 617px;
    position: relative;
}

.game-item:hover {
    background-color: rgba(127, 140, 141, 1.0);
}

.game-item img {
    width: 184px;
    height: 69px;
    display: block;
}

.game-item-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    left: 190px;
    top: 10px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
}

.game-item-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 30%;
}

.game-item-categories {
    left: 190px;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
}

.game-item-more {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    width: 720px;
    min-width: 617px;
    padding: 5px;
    margin-left: 5px;
}

.comming-title {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.game-item-preorder {
    position: relative;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

#miniCarousel {
    width: 400px;
    padding: 10px;
}

.button-pre {
    position: absolute;
    margin-top: 10px;
    right: 10px;
}

.low-price-games {
    display: -webkit-flex;
    display: flex;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
}

.low-price-item {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    width: 160px;
    height: 100px;
    margin: 10px;
}

.low-price-item img {
    width: 160px;
    padding: 15px;
}


/* LIST_ITEM */

.searchbar {
    padding: 15px;
    font-family: 'Sriracha', cursive;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.searchbar input {
    height: 34px;
}

.searchbar button {
    margin-left: 20px;
}

.searchbar select {
    height: 34px;
    min-width: 300px;
}

.panel-title {
    font-family: 'Sriracha', cursive;
    text-decoration-style: bold;
    text-align: center;
}

.no-radius a {
    border-radius: 0;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.list-group-item {
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}
/*.list-group>.col-sm-3:hover{*/
    /*background-color:#ecf0f1;*/
/*}*/

/* POST */

.post-name-zone {
    font-family: 'Bangers', cursive;
    font-size: 50px;
}

.post-short-intro {
    padding: 7px;
    width: 415px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Sriracha', cursive;
}

.post-short-description {
    padding: 5px;
}

.post-gerne {
    padding: 5px;
}

.post-dev {
    padding: 5px;
}

.post-price-zone {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    font-family: 'Sriracha', cursive;
}

.post-price-zone .linh {
    font-size: 20px;
    text-align: center;
}

.post-requirement {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Sriracha', cursive;
    font-size: 15px;
}

.post-price-zone .price {
    margin-top: 20px;
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    text-align: center;
}

.post-price-zone .add {
    margin-top: 10px;
}

.back {
    margin-top: 20px;
    height: 40px;
    width: 66px;
}


/*Estimate Title*/

.estimate-title {
    font-family: 'Sriracha', cursive;
    font-size: 50px;
    text-align: center;
}

.textbox-estimate {
    font-family: 'Sriracha', cursive;
}

.textbox-estimate input {
    color: black;
    font-size: 30px;
    width: 500px;
    height: 60px;
}

.textbox-estimate button {
    margin-top: 10px;
    height: 50px;
    width: 120px;
}

.estimated-price {
    font-size: 40px;
    margin-top: 10px;
}

.textbox-estimate .wrap-button {
    margin-top: 20px;
    height: 50px;
    width: 200px;
}


/*Dashboard-Admin*/

.loginmodal-container img {
    width: 50px;
    margin-bottom: 5px;
}

.loginmodal-container span {
    font-family: 'Bangers';
    font-size: 30px;
}

.button-group {
    font-family: 'Sriracha', cursive;
    margin-top: 20px;
}


/* Suggest */


/*.suggest-contrainer {
	font-family: 'Sriracha';
	z-index: 200;

	position: static;
	top: 300px;
	background-color:white;
}
.suggest-item a{
	text-decoration: none;
	color: inherit;
}
.suggest-item{
	
}*/


/* Live search */

#result a {
    text-decoration: none;
    color: inherit;
}

.search-wrapper {
    background-color: #2c3e50;
    color: #bdc3c7;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    width: 430px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    right: 10px;
    top: 55px;
}

.result-container {
    font-size: 15px;
    font-family: 'Sriracha';
    position: relative;
    border-style: solid;
    border-width: 0.1px;
}

.result-container:hover {
    background-color: #34495e;
}

.result-container .name {
    position: absolute;
    left: 170px;
    top: 10px;
}

.result-container .price {
    position: absolute;
    bottom: 3px;
    left: 170px;
}

.error-message {
    font-family: 'Sriracha';
    font-size: 40px;
    text-align: center;
}


/* FOOTER */

.site-footer {
    background: orange;
}

.site-footer,
.page-wrap:after {
    /* .push must be the same height as footer */
    height: 142px;
}

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: #78828D
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}

.newsletter-box {
    overflow: hidden;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
}

.payments {
    font-size: 1.5em;
}

.alertt {
    z-index: 200;
    position: fixed;
    top: 80px;
    left: 30%;
    visibility: hidden;
}


/* Fullscreen Modal */

.modal-fullscreen {
    background: transparent;
}

.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: .97;
    filter: alpha(opacity=97);
}


/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 1170px;
    }
}

.search-index-wrapper {
    max-height: 475px;
    overflow-y: auto;
    background-color: #2c3e50;
    color: #bdc3c7;
    cursor: pointer;
    position: fixed;
    z-index: 200;
    width: 600px;
    right: 15%;
    top: 105px;
}

.index-result-container {
    font-size: 15px;
    font-family: 'Sriracha';
    position: relative;
    border-style: solid;
    border-width: 0.1px;
}

.index-result-name {
    position: absolute;
    left: 230px;
    top: 10px;
}

.index-result-buttons {
    position: absolute;
    left: 40%;
    bottom: 20px;
}